{% extends 'base.html' %} {% block title %}Pet List{% endblock %} {% block
content %}

<section>
  <h2>Pets</h2>
  <div class="d-flex flex-wrap">
    {% for pet in pets %}
    <div class="card">
      <img width="200" src="{{pet.photo_url}}" alt="{{pet.species}}" />
      <a href="/{{pet.id}}">
        {{pet.name}} {{"is available" if pet.available else "is not
        available"}}</a
      >
    </div>
    {% endfor %}
  </div>
  <a href="/add"><button class="btn btn-secondary">Add a Pet</button></a>
</section>

{% endblock %}
